{% if error_message %}
<div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
  {{ error_message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

{% if warning_message %}
<div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
  {{ warning_message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
