<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <title> 物品管理 </title>
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
</head>

<body>
  <nav>
    <a href="{% url 'storage:index' %}">物品管理</a>
    <form type="get" action="{% url 'storage:search' %}" style="margin: 0">
      <input id="id_q" type="search" name="q" placeholder="搜索...">
      <button type="submit"> 搜索 </button>
    </form>
  </nav>

  {% block content %}{% endblock %}
</body>

</html>
