{% extends "storage/base.html" %}

{% block content %}

<div class="card">
  <h5 class="card-header">
    删除位置
  </h5>
  <div class="card-body">
    <h5 class="card-title">{{ storage.name }}</h5>
    <p class="card-text">
      请确认是否删除该位置，注意你将同时删除该位置下：
    </p>
  </div>
  <ul class="list-group list-group-flush">
  {% if storage.storage_set.all %}
    {% for storage in storage.storage_set.all %}
      <li class="list-group-item">
        <a href="{% url 'storage:storage_detail' storage.id %}">
          {{ storage.name }}
          <span class="badge badge-secondary">位置</span>
        </a>
      </li>
    {% endfor %}
  {% endif %}
  {% if storage.item_set.all %}
    {% for item in storage.item_set.all %}
      <li class="list-group-item">
        <a href="{% url 'storage:item_detail' item.id %}">
          {{ item.name }}
          <span class="badge badge-secondary">物品</span>
        </a>
      </li>
    {% endfor %}
  {% endif %}
  </ul>
  <div class="card-body">
    <form action="{% url 'storage:delete_storage' storage.id %}" method="post">
      {% csrf_token %}
      <input class="btn btn-danger" type="submit" value="确认" name="_confirm">
      <input class="btn btn-primary" type="submit" value="取消" name="_cancel">
    </form>
  </div>
</div>

{% endblock %}
