{% extends "storage/base.html" %}

{% block content %}

<div class="card">
  <h5 class="card-header">
    最近更新
  </h5>
  <ul class="list-group list-group-flush">
    {% for item in items %}
      <li class="list-group-item">
        <a href="{% url 'storage:item_detail' item.id %}">
          {{ item.name }}
          <span class="badge badge-secondary">物品</span>
        </a>
      </li>
    {% empty %}
      <li class="list-group-item">当前没有添加任何物品</p>
    {% endfor %}
  </ul>
</div>

{% endblock %}
