{% extends "storage/base.html" %}

{% block content %}

<div class="card">
  <h3 class="card-header">
    找到 {{ total }} 个符合条件的结果
  </h3>
  <ul class="list-group list-group-flush">
  {% if storages %}
    {% for storage in storages %}
      <li class="list-group-item">
        <a href="{% url 'storage:storage_detail' storage.id %}">
          {{ storage.name }}
          <span class="badge badge-secondary">位置</span>
        </a>
      </li>
    {% endfor %}
  {% endif %}

  {% if items %}
    {% for item in items %}
      <li class="list-group-item">
        <a href="{% url 'storage:item_detail' item.id %}">
          {{ item.name }}
          <span class="badge badge-secondary">物品</span>
        </a>
      </li>
    {% endfor %}
  {% endif %}
  </ul>
</div>


{% endblock %}


