{% extends "storage/base.html" %}

{% block content %}

<h1>{{ storage.name }}</h1>

<a href="{% url 'storage:index' %}"> 家 </a> /
{% if parents %}
  {% for parent in parents %}
    <a href="{% url 'storage:storage_detail' parent.id %}">{{ parent.name }}</a> /
  {% endfor %}
{% endif %}

{% if storage.storage_set.all %}
  <h3> 位置 </h3>
  <ul>
  {% for storage in storage.storage_set.all %}
      <li><a href="{% url 'storage:storage_detail' storage.id %}">{{ storage.name }}</a></li>
  {% endfor %}
  </ul>
{% endif %}

{% if storage.item_set.all %}
  <h3> 物品 </h3>
  <ul>
  {% for item in storage.item_set.all %}
      <li><a href="{% url 'storage:item_detail' item.id %}">{{ item.name }}</a></li>
  {% endfor %}
  </ul>
{% endif %}

{% include "storage/add_item.html" %}

{% include "storage/add_storage.html" %}

{% endblock %}
