{% extends "storage/base.html" %}

{% block content %}

<h1>{{ storage.name }}</h1>

<a href="{% url 'storage:index' %}"> 家 </a> /
{% if parents %}
  {% for parent in parents %}
    <a href="{% url 'storage:storage_detail' parent.id %}">{{ parent.name }}</a> /
  {% endfor %}
{% endif %}

{% if storage.storage_set.all %}
  <h3> 位置 </h3>
  <ul>
  {% for storage in storage.storage_set.all %}
      <li><a href="{% url 'storage:storage_detail' storage.id %}">{{ storage.name }}</a></li>
  {% endfor %}
  </ul>
{% endif %}

{% if storage.item_set.all %}
  <h3> 物品 </h3>
  <ul>
  {% for item in storage.item_set.all %}
      <li><a href="{% url 'storage:item_detail' item.id %}">{{ item.name }}</a></li>
  {% endfor %}
  </ul>
{% endif %}

<h3> 快速添加物品 </h2>
<form action="{% url 'storage:add_item' storage.id %}" method="post">
{% csrf_token %}
{{ item_form.as_p }}
<input type="submit" value="添加">
</form>

<h3> 快速添加位置 </h2>
<form action="{% url 'storage:add_storage' storage.id %}" method="post">
{% csrf_token %}
{{ storage_form.as_p }}
<input type="submit" value="添加">
</form>

{% endblock %}
