django==3.0.8
graphene-django==2.11.1
django-graphql-jwt==0.3.1
django-mptt==0.11.0
django-import-export==2.2.0
psycopg2==2.8.5
redis==3.5.3
celery[redis]==4.4.6
django-celery-beat==2.0.0
# for development
# django-cors-headers
